{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
              
                {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
  
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="text" required name="username" placeholder="Username">
                        <input type="password" required name="password" placeholder="Password">
                        <button type="submit" name="login"  class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="text" name="username" maxlength="10" minlength="3" required placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="password" required minlength="6"  name="password" placeholder="Password">
                        <input type="text" name="address"  minlength="5" required placeholder="address">
                        <input type="text" name="phone"  minlength="5" required placeholder="phone">

                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>